/* police du texte */

@font-face {
    font-family: amandaBlack;
    src: url(./fonts/AnandaBlack.ttf);
}

@font-face {
    font-family: roboto;
    src: url(./fonts/Roboto-Black.ttf);
}

/* body */

*{
    margin: 0;
    padding: 0;
    font-family: roboto;
}

/* header */

header{
    background-color: #76B3F7;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 100px;
}

header p{
    font-family: amandaBlack;
    font-size: xx-large;
    
}

ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    width: 600px;
    justify-content: space-around;
    

}

/* jumbotron */

#jumbotron {
    background-image: url(./images/bowling_field.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.jumbotron_titre {
    background-color: rgba(0, 0, 0, 0.21) ;
    text-align: center;
    padding: 30px;
    color: white;
    border: white 3px solid;

}

/* nos Offres */

#nos_offres{
    text-align: center;
}

.offer_boxes{
    background-color: beige;
    display: flex;
    justify-content: center; 
}

.box{
    background-color: blueviolet;
    margin: 5px;
    width: 30%;

}

.image_offer img{
    width: 120px;
    
}







